:root {
    --main-green: #85A687;
    --main-red: #CFA8A8;
    --main-blue: #5760B4;
    --dark-gray: #626262;
    --light-gray: #C0C0C0;
    --light-purple: #DACFE0;
}

@font-face {
    font-family: 'CustomFont';
    src: url('../assets/fonts/font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'CustomFont', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: inherit;
    font-weight: inherit;
}

.section_content {
    width: 100%;
    height: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem 0 2rem;
}

.nav_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: 0 2rem 0 2rem;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
}


@media (max-width: 425px) {
    .section_content {
        margin: 0 1rem 0 1rem;
    }

    .nav_content {
        margin: 0 1rem 0 1rem;
    }

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1rem;
    }
}
