:root {
    --main-green: #80DFB1;
    --main-red: #FF9292;
    --main-blue: #8592FF;
    --dark-gray: #626262;
    --light-gray: #C0C0C0;
    --light-purple: #CD9FE6;
}

.color_shift {
    display: inline-block;
    animation: hueShiftText 5s linear infinite;
    background: linear-gradient(45deg, #4e5ff8, #6cf875, #f15e5e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@keyframes hueShiftText {
    0% {
        filter: hue-rotate(0deg) grayscale(1);
    }
    50% {
        filter: hue-rotate(360deg) grayscale(0);
    }
    100% {
        filter: hue-rotate(0deg) grayscale(1);
    }
}

@font-face {
    font-family: 'CustomFont';
    src: url('../assets/fonts/font.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CustomFont';
    src: url('../assets/fonts/lemon_milk_light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CustomFont';
    src: url('../assets/fonts/lemon_milk_thick.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'CustomFont', Arial, sans-serif;
    background-color: black;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: inherit;
    font-weight: inherit;
}

.section_content {
    width: 100%;
    height: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem 0 2rem;
}

.nav_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: 0 2rem 0 2rem;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
}

p {
    font-size: 1rem;
    margin: 0;
    line-height: 1.6;
    letter-spacing: 0.05rem;
}


.product_title {
    font-size: 8rem;
    font-weight: 600;
}


.product_title2 {
    font-size: 6rem;
    font-weight: 600;
}

@media (max-width: 1100px) {

    .product_title {
        font-size: 6rem;
    }
    .product_title2 {
        font-size: 4rem;
    }
}

@media (max-width: 768px) {

    .product_title {
        font-size: 4rem;
    }
    .product_title2 {
        font-size: 3rem;
    }
}

@media (max-width: 480px) { 

    .product_title {
        font-size: 3rem;
    }
    .product_title2 {
        font-size: 2rem;
    }
}

.gradient-button {
    position: relative;
    font-size: 1rem;
    color: white;
    padding: 12px 24px;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.717);
    cursor: pointer;
    background: linear-gradient(45deg, 
        rgba(87, 96, 180, 0),  /* --main-blue */
        rgba(133, 166, 135, 0),  /* --main-green */
        rgba(207, 168, 168, 0)  /* --main-red */
    );
    transition: all 0.3s ease, background 0.3s ease;
}

.gradient-button:hover {
    transform: translateY(-3px);
    background: linear-gradient(45deg, 
        rgba(87, 96, 180, 1),  /* --main-blue */
        rgba(133, 166, 135, 1),  /* --main-green */
        rgba(207, 168, 168, 1)  /* --main-red */
    );
    animation: hueShift 1s linear infinite;
    filter: brightness(1.5);
    filter: 
        drop-shadow(0 8px 10px var(--main-blue))
        drop-shadow(8px 8px 10px var(--main-green))
        drop-shadow(-8px 8px 10px var(--main-red));
}



@media (max-width: 768px) {
    .section_content {
        margin: 0 1rem 0 1rem;
    }    

    .nav_content {
        margin: 0 1rem 0 1rem;
    }           

    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
}


@media (max-width: 425px) {
    .section_content {
        margin: 0 1rem 0 1rem;
    }

    .nav_content {
        margin: 0 1rem 0 1rem;
    }

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1rem;
    }

}
